h2 {
	border-bottom: none;
}

img {
	max-height: 270px;
}

.img-ok-to-be-bigger + p img {
	max-height: 400px !important;
}

.img-author + p img {
	float: left;
	margin-right: 1rem;
	max-height: 220px;
}

.center-it + p {
	text-align: center;
}

.page-break {
	page-break-after: always;
}

.front-page {
	margin-top: 300px;
}

.front-page h1,
.front-page h2 {
	text-align: center;
}

.front-page p {
	width: 100%;
	text-align: center;
}

.brand-color {
	text-align: center;
}

.brand-color img {
	max-height: 1000px !important;
	margin-top: 6cm;
}

@media print {
	.brand-color {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 24.5cm;
		background-color: #1a82bd;
	}
}

@page:first {
	margin: 0;
}

code {
	font-size: 1.4rem;
}

pre code {
	font-size: 1.0rem;
}

body {
	font-size: 1.2rem;
	text-align: justify;
}
